:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    min-width: 320px;
    width: 100%;
    max-width: 1080px;
}
.comms a{
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: right;
}
a .lock{
    width: 20px;
    height: auto;
}
.main-header{
    background-color: var(--purple);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.header-buttons button{
    background-color: rgba(0,0,0,0);
    border: white 2px solid;
    border-radius: 4px;
    padding: 5px;
    margin-left: 10px;
}
.header-buttons button img{
    width: 15px;
    height: auto;
}
.inactive {
    display: none;
}
.threelines-menu-list li{
    list-style: none;
}
.threelines-menu-list li ul{
    display: flex;
    flex-direction:column;
    
}

.threelinesmenu div{
    background-color: aliceblue;
    padding: 10px 20px;
    border: 1px gray solid;
    width: 190px;
    height: auto;
    
}
.threelinesmenu div li{
    margin-bottom: 20px;

}

.arrow-dowm{
    width: 10px;
    height: auto;
    margin-left: 10px;
}
.banner{
    margin-top: 5px;
    margin-bottom: 5px;
}
.banner img{
    width: 100%;
    height: auto;
}
.shine{
    background-color: rgb(202, 201, 201);
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.shine p{
    text-align: center;
    color: var(--purple);
    font-size: 2.8rem;
    font-weight: 500;
}
.cajas{
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.purple-boxes{
    width: 100%;
    height: auto;
    background-color: var(--purple);
    padding: 25px;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.purple-boxes .purple-box-description{
    text-align: center;
    color: #f8f9fa;
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.purple-boxes a{
    align-self: center;
}
.purple-boxes a button{
    background-color: rgba(0,0,0,0);
    width: 125px;
    height: 35px;
    border: #f8f9fa 1px solid;
    border-radius: 25px;
}
.purple-boxes a button p{
    font-size: 1.6rem;
    font-weight: 200;
    text-decoration: underline;
    color: #f8f9fa;
}
.purple-boxes select{
    background-color: rgba(0,0,0,0);
    width: 125px;
    height: 35px;
    border: #f8f9fa 1px solid;
    border-radius: 25px;
    align-self: center;
}
.purple-boxes select option{
    text-align: center;
}
.lib-nat-coverage{
    padding: 0 10px;
}
.lib-nat-coverage h1{
    color: var(--indigo);
    font-size: 3.2rem;
    font-weight: 500;
}
.lib-nat-coverage p{
    font-size: 1.6rem;
    margin: 10px 0;
}
.state-selection{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.state-selection select{
    width: 170px;
    height: 50px;
    border-radius: 25px;
}
.state-selection select option{
    text-align: center;
}
.state-selection button{
    background-color: var(--purple);
    width: 90px;
    height: 40px;
    border-radius: 30px;
    border: none;
    color: #f8f9fa;
    font-weight: 700;
}
.lib-news{
    padding: 10px;
}
.lib-news h1{
    color: var(--indigo);
    font-size: 3.2rem;
    font-weight: 500;
}
.lib-news .news-article{
    margin-top: 10px;
    color: var(--secondary);
    font-size: 1.8rem;
    border-bottom: 1px gray solid;
}
.view-news{
    width: 100%;
    padding: 10px 0;
}
.view-news a{
    font-size: 2rem;
    margin: 15px 0;
    text-align: center;
}
.get-most-from-lib{
    padding: 10px;
    background-color: var(--light);
}
.get-most-from-lib h1{
    color: var(--indigo);
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
}
.get-most-from-lib p{
    color: var(--indigo);
    font-size: 1.6rem;
    text-align: center;
    margin: 10px 0;
}
.get-most-from-lib .tools{
    background-color: var(--white
    );
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 15px;
}
.tools h3{
    font-size: 2.2rem;  
}
.tools div{
    display: flex;
    margin: 5px 0;
}
.tools ul li{
    color: black;
    list-style: none;
    font-size: 1.6rem;
}
.tools img{
    float: none;
}
.tools a .purple-button{
    background-color: var(--purple);
    width: 160px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: white;
    text-decoration: underline;
    font-weight: 800;
    margin: 10px 0;
}
.purple-yellow-buttons{
    position: relative;
    right: 30px;    
}
.tools .purple-yellow-buttons a .purple-button{
    background-color: var(--purple);
    width: 160px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: white;
    text-decoration: underline;
    font-weight: 800;
    margin: 10px 0;
}
.tools .purple-yellow-buttons a .yellow-button{
    background-color: var(--yellow);
    width: 160px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: black;
    text-decoration: underline;
    font-weight: 800;
    margin: 10px 0;
}
.tools p{
    color: black;
    font-size: 1.4rem;
}
.signUp-Quote{
    background-color: var(--light);
    padding: 15px 0;
}
.signUp-Quote .become-provider{
    background-color: #F2F2ED;
    padding: 25px 15px;
}
.become-provider h1{
    color: var(--indigo);
    font-size: 2.7rem;
}
.become-provider p{
    color: black;
    font-size: 1.6rem;
    margin-top: 12px;
}
.become-provider a button{
    background-color: var(--purple);
    width: 160px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: white;
    text-decoration: underline;
    font-weight: 800;
    margin: 10px 0;
}
.get-quote{
    margin-top: 25px;
    background-color: #F2F2ED;
    padding: 25px
}
.get-quote div{
    background-color: var(--purple);
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.get-quote div h2{
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
}
.get-quote div p{
    margin-top: 15px;
    color: white;
    font-size: 1.6rem;
}
.get-quote div a button{
    background-color: rgba(0,0,0,0);
    width: 160px;
    height: 50px;
    border-radius: 30px;
    border: white 1px solid;
    color: white;
    text-decoration: underline;
    font-weight: 800;
    margin: 10px 0;
}
.lib-app{
    background-color: var(--indigo);
    padding: 25px 15px;
}
.lib-app h1{
    text-align: center;
    color: white;
    font-size: 2.9rem;
    font-weight: 500;
    margin-bottom: 15px;
}
.lib-app .app-description{
    color: white;
    font-size: 1.6rem;
}
.lib-app .app-download{
    color: white;
    font-size: 1.6rem;
    margin-top: 20px;
}

.store-icons a img{
    width: 120px;
    height: auto;
    margin-top: 20px;
    margin-left: 5px;
}
.certs{
    padding: 15px;
}
.certs h1{
    font-size: 2rem;
    font-weight: 400; 
    color: var(--purple);
    margin-bottom: 40px;
}
.cert div{
    display: flex;
    justify-content: space-around;
}
.certs div img{
    width: 50px;
    height: auto;
}
.certs p{
    color: var(--purple);
    text-align: center;
    font-size: 1.9rem;
    font-weight: 700;
    margin-top: 10px;
}
