body{
    max-width: 768px;
}
.comms{
    display: flex;
    justify-content: center;
}
.comms a{
    margin: 0 15px;
}

/* Menu that pops up after clicking a three line button */
.nav-bar-menu .nav-link-item{
    display: flex;
}
.nav-link-itemChild{
    position: relative;
    right: 120px;
    top: 13px;
}

/*Boxes*/
.cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: unset;
}
.cajas .purple-boxes{
    width: 350px;
    height: 200px;
}
.lib-nat-coverage h1, p{
    text-align: center;
}
.state-selection{
    justify-content: center;
}
.state-selection select{
    margin-right: 15px;
}

/*Member Tools*/
.member-tools{
    align-self: flex-start;
    
    
}
.member-tools-ul{
    align-self: flex-start;
    position: relative;
    right: 120px;
}
.tools-image{
    align-items: flex-end;
    position: relative;
    left: 50px;
}
.purpleBtnDiv{
    justify-content: flex-start;
}

/*Provider Tools*/
.do-tools{
    position: relative;
    right: 100px;
}
.purple-provider{
    position: relative;
    left: 150px;
}
.purple-yellow-buttons{
    align-self: flex-start;
    left: 15px;
}
.purple-yellow-buttons .purple-button{
    position: relative;
}
.purple-yellow-buttons .yellow-button{
    position: relative;
}

/*Footer*/
.whiteArrowUp{
    display: none;
}